---
import { gql } from "graphql-request";
import { throttledFetch } from "../../helper/hygraphClient";
import LayoutWithNav from "../../layouts/LayoutWithNav.astro";

const params = await Astro.params;
const { slug } = params;

console.log(params);

async function getStaticPaths(slug) {
    const queryOne = gql`
        {
            city(where: {slug: "${slug}"}) {
                id
                name
                slug
                type
                image {
                    url
                }
                region {
                    name
                    type
                }
                description {
                    html
                    json
                    references {
                        ... on Asset {
                            id
                            url
                            mimeType
                        }
                    }
                }
            }
        }
    `;

    const { city } = await throttledFetch(queryOne);
    return city;
}

const city = await getStaticPaths(slug);
console.log(city);
---
<LayoutWithNav title={city.name}>
    <article class="card">
        <h1>
            {city.name}<br />
            <small class="text-xs italic">
                {city.type === "Capital" && "Hauptstadt"}
                {city.region.name}
            </small>
        </h1>
        <div set:html={city.description?.html} />
    </article>
</LayoutWithNav>
