---
import LayoutWithNav from "./LayoutWithNav.astro"
const {content}  = Astro.props;
---

<LayoutWithNav>
    <div class="container">
        <dl class="row">
            <dt>Author</dt>
            <dd>{content.author}</dd>
            <dt>Tags</dt>
            <dd>{content.tags.map(tag => (<span class="tag">{tag}</span>))}</dd>
        </dl>
        <img src={content.image.url} alt={content.image.alt} width="250" />
        <slot />
    </div>
</LayoutWithNav>

<style>
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    .row > * {
        max-width: 100%;
        margin-bottom: 5px;
    }
    dt {
        width: 25%;
        font-weight: 700;
        margin: 0;
    }
    dd {
        width: 75%;
        margin: 0;
    }
    img {
        float: left;
        margin: 0 20px 0 0;
    }
    .tag {
        background-color: #ccc;
        padding: 2px 4px;
        margin-right: 2px;
        border-radius: 4px;
    }
    .tag::before {
        content: '#';
        display: inline-flex;
    }
    .container {
        margin: 1rem 2rem;
    }
</style>